include ../index.pug
block content
  div(class='container p-4')
    div(class='col-md-4 mx-auto')
      div(class='card-body card')
        form(action="/links/add", method="POST")
          div(class='form-group')
            input(type="text", name="title" class='form-control' placeholder='Title' autofocus)
          div(class='form-group')
            input(type="url", name="url" class='form-control' placeholder='URL')
          div(class='form-group')
            textarea(name="url_description" rows="2" class='form-control' placeholder='Description')
          div(class='form-group')
            button(class='btn btn-success btn-block') Save
