include ../index.pug
block content
  main.index
    header.masthead.d-flex
      .container.text-center.my-auto
        h1.mb-1 Favorite Links
        h3.mb-5
          em Store your favorite links
        a(href="/auth/login" class='btn btn-primary') Let's get Started